nav {
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(to right, #64c9cf, #fde49c);
  color: #000;
  /* margin-bottom: 20px; */
}
.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navitems h2 {
  font-size: 30px;
  margin: 20px 25px;
}

.navitems button {
  width: 30%;
  height: 10vh;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #0f52ba;
  font-family: serif;
  font-size: 20px;
  margin: 23px 40px;
}

.fetchbtn:hover {
  background-color: #fff;
}
.userdatacontainer {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(to bottom right, #c2ffd9, #64c9cf);
}
#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  /* padding-top: 10vh; */
}
.name:hover {
  color: red;
}

.avatar {
  border-radius: 30%;
}

.profile_cont {
  border-radius: 15%;
  background-image: radial-gradient(#986d8e, #ffe6e6);
  margin: 5px;
  padding: 10px;
  width: 30%;
  text-align: center;
  transition: transform ease 0.2s;
  opacity: 0.8;
  margin-top: 8vh;
}

.profile_cont:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
